<style>
    footer {
        position: fixed;
        z-index: 100;
        width: 100%;
        left: 0;
        bottom: 0;
        border-top: 1px solid var(--warning);
        color: var(--secondary);
        background-color: var(--dark);
        height: 5vh;
        font-size: 0.8rem;
    }
    
</style>
<div style="height:5vh"></div>
<footer class="pl-3 pr-3 text-right">{{ appName }}© 2018 - Cothran Enterprises</footer>
