<!DOCTYPE html>
<html lang="en">

<head>
  {{> head }}
</head>

<body>
  {{> header }}
  <div class="container-fluid">
    <p id="welcomeMessage">Welcome User</p>    
    <p><span class="display-4">S</span>ave time and money tracking how much you lose on wasted food</p>
    <div class="food-money"></div>
  </div>
  {{> footer }}
  {{> pagejs }}
</body>

</html>